<div ng-switch="vm.hotel.template">
	<div ng-switch-when="1">
		<section flex layout="row" layout-padding class="md-whiteframe-2dp">
			<div style="width: 240px;" >
				<div flex ng-if="vm.hotel.recommended" style="background-color: blue; color: white; text-align: center;" layout-padding>Hotel recomendado!</div>
				<div flex ng-if="vm.hotel.priceOff" style="background-color: green; color: white; text-align: center;" layout-padding>{{ vm.hotel.priceOff }}%<br>OFF</div>
				<div flex layout="row" layout-align="center center" style="height: 200px;position:relative;" layout-padding>
					<img ng-src="../../assets/img/hotels/{{ vm.hotel.pictures[0] }}.jpg" alt=""
					style="position: absolute">
					<div style="" flex="5">&lt;</div>
					<div flex></div>
					<div style="" flex="5">&gt;</div>
				</div>
			</div>
			<div layout="column" flex>
				<div><strong>{{ vm.hotel.name }}</strong></div>
				<div ><img ng-src="../../assets/img/stars/{{ vm.hotel.stars }}.jpg" alt="{{ vm.hotel.stars }}" ></div>
				<div style="color: orange;"><i class="material-icons">&#xE84E;</i>{{ vm.resolveServiceType(vm.hotel.serviceType) }}</div>
				<div><i class="material-icons" ng-repeat="icon in vm.resolveServiceIcons(vm.hotel.serviceIcons) track by $index">{{icon}}</i></div>
			</div>
			<div layout="column" layout-align="center center" style="width: 180px; border-left: 2px solid #ccc;">
				<div style="font-size: 0.7em;">Precio por noche por habitacion</div>
				<div style="color: orange;font-size: 1.2em; line-height: 50px;">U$S <span style="font-size: 2.1em; font-weight: bolder;">{{ vm.hotel.price }}</span></div>
				<div><md-button class="md-raised md-primary" ng-click="vm.gotoHotel(vm.hotel.id)">Ver Hotel</md-button></div>
				<div ng-if="vm.hotel.quotes" style="font-weight: bold; font-size: 0.8em;">Paga en cuotas</div>
				<div ng-if="vm.hotel.destinationPay" style="font-weight: bold; font-size: 0.8em;">Paga en destino</div>
			</div>
		</section>
	</div>
	<div ng-switch-when="2">
		other template
	</div>
</div>
