<md-content class="md-whiteframe-2dp" layout-margin layout="column">
	<div style="font-size:1.2em;">Hoteles disponibles para:</div>
	<div layout="row" layout-margin >
		<div><i class="material-icons">location_on</i>{{ vm.place.place }}</div>
		<div><i class="material-icons">date_range</i>{{ vm.place.from }}</div>
		<div><i class="material-icons">date_range</i>{{ vm.place.to }}</div>
		<div><i class="material-icons">person</i>{{ vm.place.guest }} huespedes</div>
		<div><a href="javascript:window.history.back();">Modificar busqueda</a></div>
	</div>
</md-content>
