<section layout-margin>
	<div><b>Filtrar</b></div>
	<div flex layout="column" class="md-whiteframe-2dp" layout-margin>
		<div>Nombre de hotel</div>
		<div layout="row">
			<input type="text" ng-model="vm.filterName">
			<md-button class="md-raised md-primary" ng-click="vm.refine()">Aceptar</md-button>
		</div>
	</div>
	<div flex layout="column" class="md-whiteframe-2dp" layout-margin>
		<div>Precio por noche</div>
		<md-slider-container>
			<span>Minimo ({{ vm.price.minSelected }})</span>
			<md-slider flex ng-model="vm.price.minSelected" min="{{vm.price.min}}" max="{{vm.price.max}}" class="md-primary">
			</md-slider>
		</md-slider-container>
		<md-slider-container>
			<span>Maximo ({{ vm.price.maxSelected }})</span>
			<md-slider flex ng-model="vm.price.maxSelected" min="{{vm.price.min}}" max="{{vm.price.max}}" class="md-primary">
			</md-slider>
		</md-slider-container>
	</div>
	<div flex layout="column" class="md-whiteframe-2dp" layout-margin>
		<div>Estrellas</div>
		<div>
			<md-checkbox ng-checked="vm.selectAll" ng-click="vm.toggleSelectAll()" class="md-primary">Todas las estrellas</md-checkbox><br>
		</div>
		<div ng-repeat="star in vm.stars track by $index">
			<md-checkbox ng-if="star.value > 0" ng-checked="star.selected" ng-click="vm.toggleStars(star)" class="md-primary">
				<img height="20px" ng-src="../../assets/img/stars/{{ $index+1 }}.jpg"> ({{ star.value }})</md-checkbox>
		</div>
		
	</div>
</section>

