<div flex layout-align="center center">
<md-input-container >
	<md-select ng-model="vm.orderBy" placeholder="Order by" class="md-no-underline" ng-change="vm.orderByPush()">
		<md-option value="0">Normal</md-option>
		<md-option value="1">Reverse</md-option>
	</md-select>
</md-input-container>
</div>
<!--<item ng-repeat="item in vm.found.hotels | filter: vm.filterFromRefine | orderBy:'name':vm.orderBy" model="item"></item>-->
<div layout-margin>
	<item ng-repeat="hotel in vm.hotels | orderBy:'name': vm.orderByPushed" hotel="hotel" config=""></item>
</div>

