<section>
	<section ><breadcrumb breads="vm.steps"></breadcrumb></section>
	<section><searcher place="vm.place"></searcher></section>
	<section layout="column" layout-gt-sm="row">
		<section flex="30">
			<map-image></map-image>
			<refine-hotels hotels="vm.hotels" filter="vm.filter($event)" valid-ranges="vm.validRanges"></refine-hotels>
		</section>
		<result hotels="vm.hotelsRefined" flex="70"></result>
	</section>
</section>

