<md-content>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<img src="../assets/img/logo.png" alt="">
			<span flex></span>
			<md-button aria-label="Ingresar">Ingresar</md-button>
		</div>
	</md-toolbar>
</md-content>
